.Header{
    height: 85px;
    background-color:rgb(113, 111, 111) ;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
   
    
}

.HeaderName{
    font-size: 15px;
    padding-left: 100px;
    color: antiquewhite;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    position: fixed;
    
}



.header_links{
    font-size: 20px;
    padding-left: 625px;
    font-family:Georgia, 'Times New Roman', Times, serif ;

}

.Header a{
    color: white;
    text-decoration: none;
    margin-left: 20px;

}
