.Header{
    height: 85px;
    background-color:rgb(113, 111, 111) ;
    display: flex;
    align-items: center;
    position: sticky;
    /* padding: 0 0px; */
    top: 0;
    /* z-index: 1; */
    
}

.Name{
    font-size: 15px;
    /* padding-top: 200px; */
    
}

.logo{
    height: 80px;
    width: 80px;
    padding-left: 100px;
    
}

.header_links{
    font-size: 20px;
    padding-left: 650px;

}

.Header a{
    color: white;
    text-decoration: none;
    margin-left: 20px;

}
