.container {
    display: flex;
}


.allProducts{
display: flex;
flex-wrap: wrap;
}

.addToCardDetails{
    border: 3px solid rgb(1, 10, 13);
    border-radius: 5px;
    margin: 30px 5px 25px 10px ;
    padding-right: 70px;
    padding-left: 20px;
    background-color:rgba(239, 160, 56, 0.468) ;
    width: 600px;
    /* position: relative; */
    position: ;
}

.card-name-design{
    text-align: center;
}


 .orderSummary item.name{
    border: 2px solid black;
    margin-right: 10px;
} 

