.showPerfumeData{
    height: 400px;
    width: 240px;
    font-size: 10px;
    border: 2px solid black;
    padding: 2px;
    margin:30px 5px 20px 10px;
    border-radius: 5px;

}



.showPerfumeData img{
    height: 260px;
    width: 240px;
    
}

